# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
.dist/
build/
dist/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Local environment variables
.env
*.env

# Temporary files
*.tmp
*.bak
*.old
*.orig
*.rej


docs/
